<!doctype html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>ADMIN</h1>
    <h2>{{ url }}</h2>
    <hr />

    <form action="admin-add-user" method="POST">
      add-user<br />
      <input type="text" name="id" />
      <input type="text" name="pwd" />
      <input type="submit" value="add-user" />
    </form><hr />

    <form action="admin-clear-db" method="POST">
      clear-db <input type="submit" value="clear-db" />
    </form><hr />

  </body>
</html>
